<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Expense</title>
</head>
<body>

<h2>Add Expense</h2>

<form method="post">
  <input type="number" name="amount" placeholder="Amount" required><br><br>

  <select name="category">
    <option>Food</option>
    <option>Travel</option>
    <option>Shopping</option>
    <option>Bills</option>
    <option>Other</option>
  </select><br><br>

  <input type="text" name="note" placeholder="Note"><br><br>

  <button type="submit">Save Expense</button>
</form>

</body>
</html>
